 Introduction to python

In [ ]:
8+5

13

In [ ]:
print("HELLO WORLD")

HELLO WORLD

In [ ]:
120/12*2-4

16.0

In [ ]:
(5-2)*10

30

In [ ]:
"kkkk"

'kkkk'

In [ ]:
marks=80
marks

80

In [ ]:
type(marks)

int

In [ ]:
5**4

625

In [ ]:
price=50.5
price #only shows o/p of last line
type(price)

float

In [ ]:
price=50.5
print(price) #shows each lines o/p
type(price)

50.5

float

In [ ]:
name="Snehal"
type(name)

str

In [ ]:
dir(str) #all methods that can be applied on strings 
#__dunder/magic methods (double underscore methods which python uses internally)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str1="welcome to data science"
str1.capitalize()

'Welcome to data science'

In [ ]:
str1.upper()

'WELCOME TO DATA SCIENCE'

In [ ]:
str1.lower()

'welcome to data science'

In [ ]:
str1.title()

'Welcome To Data Science'

In [ ]:
food="bIryanI"
name="DivYa"
print(food.swapcase())
name.swapcase()

BiRYANi

'dIVyA'

In [ ]:
s1="My name is Divya"
print(s1.split()) #list of strings is created 
s2="Mumbai-pune-Mumbai"
s2.split("-")

['My', 'name', 'is', 'Divya']

['Mumbai', 'pune', 'Mumbai']

In [ ]:
mail="prekshagadiya7@gmail.com"
mail.split("@")

['prekshagadiya7', 'gmail.com']

In [ ]:
s1.replace("Divya","Preksha")

'My name is Preksha'

In [ ]:
#single line comment
''' multi line comment
'''

In [ ]:
city="Satara"
city.count("a")

3

In [ ]:
"Satara".count("a")

3

In [ ]:
name="Raj "
name*4

'Raj Raj Raj Raj '

In [ ]:
n1=5
n1*5

25

In [ ]:
name="Rajesh "
surname="Kulkarni"
name+surname #combined

'Rajesh Kulkarni'

In [ ]:
#conditional statement
a=70
b=80
if(a>b):
  print("a is greater")
else:
  print("b is greater")

b is greater

In [ ]:
a=30
b=50
if(a>b):
  print(a,"is greater")
else:
  print("greatest no is:",b)

greatest no is: 50

In [ ]:
salary=1500
if(salary>200):
 tax=0.25
 print("Hello from true if")
else:
  tax=0.20
  print("Hello from false if/else")
print("Bye...outside of if block")
net_sal=salary-tax*salary
print(net_sal)

Hello from true if
Bye...outside of if block
1125.0

In [ ]:
a=int(input()) #user i/p
b=int(input())
if(a>b):
  print(a,"is greater than",b)
else:
  print(b,"is greater than",a)

50
60
60 is greater than 50

In [ ]:
#for loop
for number in range(5,14): #print nos from 5-9 increment by 1
 print(number)

5
6
7
8
9
10
11
12
13

In [ ]:
#printnos 1-10
for i in range(2,21,2): #even
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1,20,2): #odd
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#break statement
for i in range(1,11):
  if i==5:
    #print("same")
    break
  else:
      print(i)

1
2
3
4

In [ ]:
for num in range(11): #0-10
  print(num,num*num) #num and its sq

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
for i in range(1,30,5):
    #print(i)
    print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [ ]:
subject="Science"
for letter in subject:
  print(letter)

S
c
i
e
n
c
e

In [ ]:
name="Divya "
for i in range(3,7):
 print(name*i)

Divya Divya Divya
Divya Divya Divya Divya
Divya Divya Divya Divya Divya
Divya Divya Divya Divya Divya Divya

In [ ]:
string="this is string"
for char in string:
   print(char,end=' ')

t h i s   i s   s t r i n g

In [ ]:
movie="DaR"
for letter in movie:
  #print(letter)
  #print(letter.swapcase())
  print(letter.swapcase(),end=" ")
  #print(letter.upper(),end=" ")

d A r

In [ ]:
for i in range(1,11):
  if i%2==0:
    print("Even Number:",i)
  #else:
   # print("Odd Number:",i)

for i in range(1,11):
  if i%2!=0:
   # print("Even Number:",i)
  #else:
    print("Odd Number:",i)

Even Number: 2
Even Number: 4
Even Number: 6
Even Number: 8
Even Number: 10
Odd Number: 1
Odd Number: 3
Odd Number: 5
Odd Number: 7
Odd Number: 9

In [ ]:
print("even nos: ")
for i in range(1,11):
  if i%2==0:
    print(i)
print("odd mumber: ")
for i in range(1,11):
   if i%2!=0:
    print(i)

even nos:
2
4
6
8
10
odd mumber:
1
3
5
7
9

In [ ]:
status1=True
type(status1)
status2=False
type(status2)

bool

In [ ]:
#print each letter 4 times with seperator as space
name="data science" #for letter in "data science"
for letter in name:
  print(letter*4,end=" ")

dddd aaaa tttt aaaa      ssss cccc iiii eeee nnnn cccc eeee

In [ ]:
num=int(input("(Enter num:"))
if (num%2==0):
    print(num,"it is even")
else:
    print(num,"it is odd")

(Enter num:98
98 it is even

In [ ]:
len("my name")

7

In [ ]:
len('Divya')

5

In [ ]:
#ds 1:list
#lists are mutable
#created using sq brackets[]

marks=[40,55,70,60,80,85,78]
marks

[40, 55, 70, 60, 80, 85, 78]

In [ ]:
type(marks)

list

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
len(marks)

7

In [ ]:
new_marks=sorted(marks) #creates new list og list remains unchanged
new_marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks.sort() #og list is sorted in asc by default
marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks.append(35)
marks

[40, 55, 60, 70, 78, 80, 85, 35]

In [ ]:
marks.reverse()
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [ ]:
marks2=[65,82,70,50,73,78]
marks2

[65, 82, 70, 50, 73, 78]

In [ ]:
marks2.sort(reverse=True) #desc order
marks2

[82, 78, 73, 70, 65, 50]

In [ ]:
marks3=[80,40,90,75,82]
marks3.sort(reverse=False)
marks3

[40, 75, 80, 82, 90]

In [ ]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [ ]:
90 in marks #checks if it is der ornot t/f

False

In [ ]:
85 in marks

True

In [ ]:
list1=[10,20,30]
list2=[40,50,60]
list1+list2 #concatenate

[10, 20, 30, 40, 50, 60]

In [ ]:
(list1+list2)*3

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [ ]:
#lists of strings
list3=["mango","apple","orange","banana","strawberry"]
list3

['mango', 'apple', 'orange', 'banana', 'strawberry']

In [ ]:
for fruit in list3:
  #print(fruit.upper())
  #print (fruit.upper(),end=" ")
  #print(fruit.replace("a","u"),end=" ")
   print(fruit.title())

Mango
Apple
Orange
Banana
Strawberry

In [ ]:
#in py indexing starts with 0
list3

['mango', 'apple', 'orange', 'banana', 'strawberry']

In [ ]:
list3[4]

'strawberry'

In [ ]:
list3[0]

'mango'

In [ ]:
#slicing
list3[0:4] #0,1,2,3

['mango', 'apple', 'orange', 'banana']

In [ ]:
list3[1:]

['apple', 'orange', 'banana', 'strawberry']

In [ ]:
len(list3)

5

In [ ]:
list3[:3]

['mango', 'apple', 'orange']

In [ ]:
list3[-1] #-1 refers to last element

'strawberry'

In [ ]:
print(list3) #start stop step
list3[::2] #0 2 4 6

['mango', 'apple', 'orange', 'banana', 'strawberry']

['mango', 'orange', 'strawberry']

In [ ]:
m1=[1:31] #to create list 1-30 will raise error]

SyntaxError: ignored

In [ ]:
n1=list(range(1,31))
print(n1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [ ]:
#nos 2-26 with step val 5
n1[2:26:5]

[3, 8, 13, 18, 23]

In [ ]:
print(list3,end=" ")

['mango', 'apple', 'orange', 'banana', 'strawberry']

In [ ]:
list3[::-1]

['strawberry', 'banana', 'orange', 'apple', 'mango']

In [ ]:
list3[::-2]

['strawberry', 'orange', 'mango']

In [ ]:
# use of "in" keywrd:search substring in given word
'her' in 'Netherland'

True

In [ ]:
"The" in "Netherland" #case sensitive

False

In [ ]:
list3.remove("mulberry")
list3

ValueError: ignored

In [ ]:
#display that contains berry using for loop
for fruit in list3:
  if "berry" in fruit:
    print(fruit)

strawberry
mulberry

In [ ]:
for fruit in list3:
  if "an" in fruit:
    print(fruit)

mango
orange
banana

In [ ]:
list3.remove("blackberry")
list3

['mango',
 'apple',
 'orange',
 'banana',
 'strawberry',
 'mulberry',
 'blackberry',
 'blackberry']

In [ ]:
list3.remove("blackberry")
list3

['mango', 'apple', 'orange', 'banana', 'strawberry', 'mulberry', 'blackberry']

In [ ]:
#create list4 of fruits from l3 hvaing onlu berry a substring amd store reamining in l5
list4=[]
list5=[]
for fruit in list3:
  if "berry" in fruit:
    list4.append(fruit)
  else:
    list5.append(fruit)
print(list4,end=" ")
print(list5,end=" ")

['strawberry', 'mulberry', 'blackberry'] ['mango', 'apple', 'orange', 'banana']

In [ ]:
list3

['mango', 'apple', 'orange', 'banana', 'strawberry']

In [ ]:
#print all sq of l1 to l2
l1=[1,2,3,4,5,6]
l2=[]
for no in l1:
 l2.append(no**2)
print(l1)
print(l2)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]

In [ ]:
#list comprehension-makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1)
print(l2)

[2, 3, 4, 5, 6]
[4, 9, 16, 25, 36]

In [ ]:
#extractfruit name containing berry using list comprehension
list3

['mango', 'apple', 'orange', 'banana', 'strawberry']

In [ ]:
list3.append("Blueberry")

In [ ]:
list3

['mango', 'apple', 'orange', 'banana', 'strawberry', 'Blueberry']

In [ ]:
newlist=[fruit for fruit in list3 if 'berry' in fruit]
newlist

['strawberry', 'Blueberry']

In [ ]:
newlist1=[fruit for fruit in list3 if "berry" not in fruit]
newlist1

['mango', 'apple', 'orange', 'banana']

In [ ]:
list3

['mango', 'apple', 'orange', 'banana', 'strawberry', 'Blueberry']

In [ ]:
list3.index('banana')

3

In [ ]:
list3[2]="litchi"
list3

['mango', 'apple', 'litchi', 'banana', 'strawberry', 'Blueberry']

In [ ]:
#data struct 2:tuple
#tuples are not mutable
#created using round brackets
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [ ]:
type(t1)

tuple

In [ ]:
t1[0]

1

In [ ]:
t1[0]=7  #error coz they are immutable

In [ ]:
dir(t1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t1.count(3)

1

In [ ]:
t1.index(5)

4

In [ ]:
t2=(1,1,1,2,2,6,6,6,6,4)

In [ ]:
t2

(1, 1, 1, 2, 2, 6, 6, 6, 6, 4)

In [ ]:
t2.count(6)

4

In [ ]:
#indexing and slicing with tuple is same as list
#extracting elements of tuple
t1[2]

3

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
t1[1:5]

(2, 3, 4, 5)

In [ ]:
#ds 3: dictionary 
# used to store data values in key:value  pairs
# dict is a collection which is ordered, changeable and do not allow duplcates
#are wriiten in curly brackets and have key n values
#keys are unique identifier that are associated with each value

capital_dict={"Nepal":"Kathamndu","Italy":"Rome","England":"London"}
capital_dict

{'Nepal': 'Kathamndu', 'Italy': 'Rome', 'England': 'London'}

In [ ]:
type(capital_dict)

dict

In [ ]:
dir(capital_dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
#access element of dict

capital_dict["England"]

'London'

In [ ]:
#keys() method extract the keys of the dict and returns list of keys as aview object

keys=capital_dict.keys()
keys

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
#the values() method returns a view object that displays a list of values in dict

values=capital_dict.values()
values

dict_values(['Kathamndu', 'Rome', 'London'])

In [ ]:
capital_dict.values()

dict_values(['Kathamndu', 'Rome', 'London'])

In [ ]:
#for items

items=capital_dict.items()
items

dict_items([('Nepal', 'Kathamndu'), ('Italy', 'Rome'), ('England', 'London')])

In [ ]:
capital_dict.items()

dict_items([('Nepal', 'Kathamndu'), ('Italy', 'Rome'), ('England', 'London')])

In [ ]:
#update() method upadtes dict element
add_capital={"India":"New Delhi"}
capital_dict.update(add_capital)

In [ ]:
capital_dict

{'Nepal': 'Kathamndu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [ ]:
capital_dict.update([("Australia","Sydney")])      #({"abc":"def"}) #capital_dict['abc']=('xyz')
capital_dict

{'Nepal': 'Kathamndu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'Australia': 'Sydney'}

In [ ]:
#pop removes the key #popitem () removes last element

capital_dict.pop("Australia")

'Sydney'

In [ ]:
capital_dict

{'Nepal': 'Kathamndu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [ ]:
mylist=['mango', 'apple', 'orange', 'banana', 'strawberry', 'Blueberry']

In [ ]:
mytuple=(1,2,3,10,5,15)

In [ ]:
mydict={"A":mylist,
        "B": mytuple,
        "C":capital_dict}
mydict

{'A': ['mango', 'apple', 'orange', 'banana', 'strawberry', 'Blueberry'],
 'B': (1, 2, 3, 10, 5, 15),
 'C': {'Nepal': 'Kathamndu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi'}}

In [ ]:
mydict['A']

['mango', 'apple', 'orange', 'banana', 'strawberry', 'Blueberry']

In [ ]:
mydict["A"][3]

'banana'

In [ ]:
mydict['C']['India']

'New Delhi'

In [ ]:
#maths fn
#sqrt(25)#will raise error coz u have not import

from math import sqrt
sqrt(25)

5.0

In [ ]:
#factorial(5)
from math import factorial
factorial(5)

120

In [ ]:
from math import sin,cos,tan
sin(90)

0.8939966636005579

In [ ]:
#for all fn

from math import * #import math

In [ ]:
import math
sequence=(2,2,5,6)
print(math.prod(sequence))

120

In [ ]:
import math

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/Salaries.csv.xls")